body{
    margin: auto;
    width: 100%;
    background-color: #DAE0E6;
    font-family: 'Smooch Sans', sans-serif;
    display: flex;
    justify-content: center;    
    
}
.header_tag{
    font-size: inherit;
}

p, ol, h4{
    font-size: 0.4em;
    width: 90%;
}

#page_content{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto;        
}

#pageimage{   
    /* Mobile responsive property for image scaling */
    max-width:90%;
    height:auto;
}

h1, h2, h3 {
    /* Mobile responsive text size for headers */
    font-size: 3vh;
}



#header{
    grid-area: 1 /1 / span 1 / span 10;
    display: flex;
    /* justify-content: center; */
    gap: 5%; 
    height:50%;    
    width: 100vw;
    text-align: left;
    font-size: 8em;
    border: 2px black solid;
    border-radius: 5px;
    display:flex;
    width: min-content;
    padding: 3px;
}

#headerInner{
    grid-area: 1 / 1 / span 1/ span 10;
    flex-direction: column;
    z-index: 1;  
    text-align: center;  
}

.main_area{
    grid-area: 2 /1 / span 1 / span 10;
    margin: auto;
    height: fit-content;
    width: 90%;    
    background-size:cover;
    background-position: center;
    justify-items: center;
    padding-left: 5%;
    font-size: 3em;
    color: #050505;
    border-radius: 10px;
    border: 3px black solid;
    background-color: #e2dada;  
    /* opacity: 0.75;   */
}